/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); */

/* Basic set up for Material UI - roboto font mandatory and Material icons necessary if we want to use them */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --dark-blue: #252a36;
  --light-pink: #eedbdd;
  --medium-pink: #daabb0;
  --burgundy: #64323e;
  --gold: #b69e60;
  --background: #f0f0f8;
  --light-background: #f4eeed;
  --dark-text: #252a37;
  --light-text: #626262;
  --white-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

.auth-container {
  margin-top: 20px;
}

.current-users {
  margin: 5px 0px;
}

.button-box {
  margin-top: 10px;
}
